.players {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playercard {
  margin: 20px;
  padding: 20px;
  width: 25%;
}

.dark-mode {
  color: white;
  background-color: black;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
}
